@import "tailwindcss";

:root {
  --text: #50445a;
  --text-h: #23123a;
  --bg: #f5f0fa;
  --border: #e6dff0;
  --sans: 'Playfair Display', system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 18px/145% var(--sans);
  background: var(--bg);
  color: var(--text);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  color: var(--text-h);
  font-weight: 500;
}